.happy-moment .group, .moment-detail .group{
    margin-top: 18px;
}
.footer{
	  margin-top: 0;
}
.happy-moment .group{
    margin-bottom: 20px;
}.moment-detail .group div.form-registration{    margin: 0 auto;    width: 698px;    margin-bottom: 20px;}
.moment-detail .group div.form-registration iframe{border:none}
.container-promo{
  position: relative;
  margin: auto auto 125px auto;
  overflow: hidden;
}
.container-promo div.video {    
    width: 930px;
  height: 662px;
  background-image: url('../images/moment-video.jpg');
  background-size: cover;
}
.video-loading{
	content:url('../images/loading.gif');
	margin: auto;
}
.container-promo .icon {
  position: absolute;
  top: 30%;
  left: 28%;
  font-family: "HelveticaNeue-Light";
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 135px;
}
.container-promo .video .icon{
  background: url('../images/icon-video-moment.png') no-repeat top center;
    width: 115px;
}

.container-promo div.picture{
  position: absolute;
  top: 0px;
    right: -129px;
  width: 628px;
    height: 662px;
  -webkit-transform: skew(-13deg);
       -moz-transform: skew(-13deg);
         -o-transform: skew(-13deg);
   overflow: hidden;
}
.container-promo .picture .icon{
  background: url('../images/icon-image-moment.png') no-repeat top center;
    width: 133px;
     -webkit-transform: skew(13deg);
       -moz-transform: skew(13deg);
         -o-transform: skew(13deg);
  
}
.container-promo div.picture .image{
  width: 100%;
  height: 100%;
   background-image: url('../images/moment-image.jpg');
   -webkit-transform: skew(13deg);
       -moz-transform: skew(13deg);
         -o-transform: skew(13deg);
   position: absolute;
  top: 0px;
    left: -127px;
    background-size: cover;
}
.container-promo a{
  display: block
}

/*.moment-detail .group{
  width: 1170px;
  padding: 0;
}*/
.moment-detail .container-video .video-img{
  position: relative;
  margin: auto;
    height: 613px;
      margin-top: 23px;
}
.moment-detail .container-video{
    text-align: center;
}
.container-video .video-warp{
   position: relative;
  padding-bottom: 56.25%;
  height: 0;
  max-height: none;
    max-width: 836px;
  margin: auto;
}
.container-video .video-warp.photo{
	padding-bottom: 0;
	height: auto;
    background-color: white;
}
.container-video .video-warp.photo img {
	width: auto;
}
.container-video .video-warp iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-video img{
	width: 100%;
  max-width: 836px;
  margin: auto;
}
.moment-detail .container-video .video-img .icon{
    background: url('../images/icon-video-moment.png') no-repeat top center;
  width: 115px;
  padding-top: 135px;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% - 67px);
  left: calc(50% - 67px);
}
.moment-detail .container-video .video-des{
  width: 836px;
  min-height: 96px;
  background-color: white;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding-left: 12px;
  padding-bottom: 5px;
}
.moment-detail .container-video .video-des h3{
  display: inline-block;
  font-size: 14px;
}
.moment-detail .container-video .video-des span{
    display: none;
}
/* carousel video */
.container-slide-video {
    margin: 20px auto;
    position: relative;
    width: 836px;
}

/** Carousel **/

.container-slide-video .myjcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container-slide-video .myjcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-slide-video .myjcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container-slide-video .myjcarousel img {
    display: block;
    max-width: 100%;
	  height: 13vw;
	  width: 100%;
    /*height: auto !important;*/
}

/** Carousel Controls **/

.container-slide-video .myjcarousel-control-prev,
.container-slide-video .myjcarousel-control-next {
    position: absolute;
    top:calc(50% - 63px);
    width: 30px;
    height: 126px;
    margin-top: 0px;
}

.container-slide-video .myjcarousel-control-prev {
    left: 0px;
    background: url(../images/prev.png)no-repeat;
}

.container-slide-video .myjcarousel-control-next {
    right: 0px;
    background: url(../images/next.png)no-repeat;
}



/* end carousel */
.container-slide-album{
  background-color: white;
      width: 836px;
    margin: 0 auto;
    margin-top: 78px;
    position: relative;
}
/* carousel album */
.wraper
 {
  top: 10px;
    margin: 0px 50px;
  position: relative;
}
.facebook-widget{
  background-color: white;
  position: relative;
  overflow: hidden;
  width: 836px;
  margin: auto;
}
/** Carousel **/

.container-slide-album .myjcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container-slide-album .myjcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-slide-album .myjcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	cursor: pointer;
}

.container-slide-album .myjcarousel img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto !important;
/*	max-height: 163px;*/
	max-height: 141px;		
}

/** Carousel Controls **/

.container-slide-album .myjcarousel-control-prev,
.container-slide-album .myjcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
}

.container-slide-album .myjcarousel-control-prev {
    left: -2em;
    background: url(../images/prev_album.png)no-repeat;
}

.container-slide-album .myjcarousel-control-next {
    right: -3em;
    background: url(../images/next_album.png)no-repeat;
}
/* end carousel */
.title-album{
  color:#ee2d39;
}
.container-slide-album .time{
  color:#454545;
}

.container-slide-video .content,
.container-slide-album .content{
  position: relative;
  display: block;
}
.container-slide-video .content .icon-video,
.container-slide-album .content .icon-video{
  position: absolute;
 top: 34%;
  left: 41%;
  width: 47px;
  height: 47px;
  background: url(../images/icon-video-moment2.png)no-repeat;
}
.container-slide-album .content .icon-video{
    top: 33%;
}
.container-slide-album .photo-title, .container-slide-video .photo-title {
  position: absolute;
  left: 0;
  top: -13px;
  font-size: 13px;
  color: #fff;
  width: 100%;
  padding: 5px;
  background: url(../images/photo-title-bg.png);
  box-sizing: border-box;
font-family: HelveticaNeue-Bold;
}
/*------------------------------------------------
  Responsive tablet
  ------------------------------------------------*/
@media screen and (max-width: 768px) {
  .main {
  width: auto
  }
  .container-promo{
        margin: 0 -15px 4em -15px;
  }
  .container-promo div.video{
      height: 200px;
        width: auto;
      position: relative;
  }
  .container-promo div.picture {
     position: relative; 
     right: 0px; 
     width: auto; 
    height: 200px;
     -webkit-transform: skew(0deg); 
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    overflow: hidden;
  }
  .container-promo div.picture .image {
    background-image: url('../images/moment-image.jpg');
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    position: static;
  }
  .container-promo .icon {
    position: absolute;
    top: 30%;
    font-size: 1.5em;
  }
  .container-promo .video .icon{
     width: 3em;
    left: calc(50% - 1.5em);
    background-size: contain;
    padding-top: 72px;
  }
  .container-promo .picture .icon {
      width: 3em;
      left: calc(50% - 1.5em);
      -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg);
      background-size: contain;
      padding-top: 65px;
  }
  .moment-detail .container-video .video-des{
    width: auto;
  }
  .container-slide-video {
    width: auto;
  }
  .container-slide-video .myjcarousel img,
  .container-slide-album .myjcarousel img{
    max-width: none;
	height: 27vw;
    /*max-height: 250px;*/
  }
  .container-slide-album{
       width: auto; 
  }
  .facebook-widget{
	width: auto;
  }
  .container-video .video-warp.photo img {
	width:100%;
  }
}
@media screen and (max-width: 480px) {
	.container-slide-video .myjcarousel img{
	  height: 150px;
	}
	.wraper{
	top:10px;
	margin: 0px 31px;
	}
	.container-slide-video .content .icon-video, .container-slide-album .content .icon-video{
	  background-size: contain;
	  width: 30px;
	    top: 40%;
	}
	.container-slide-album .content .icon-video {
	    top: calc(50% - 15px);
		left: calc(50% - 15px);
	}

	.container-slide-video .myjcarousel-control-prev, .container-slide-video .myjcarousel-control-next{
	  width: 20px;
	    background-size: contain;
		top: calc(50% - 34px);
		  height: 68px;
	}
	/* fix bug Facebook */

}
