/*#slider-header li{
	width: 960px !important;
}*/
@media (max-width: 768px) {
	.main{
		width: 100%;
	}
	#slider-header li img {
		max-width: 100%;
		height: auto;
	}
	.header{
		height: auto;
	}
	.drop-down-menu{
		width: 38px;
		height: 31px;
		position: absolute;
		background: url('../images/icon-drop-menu.jpg') no-repeat;
		top: 10px;
		left: 5px;
		z-index: 8;
	}
	.menutop{
		display: none;
	}
	.main-menu-mobile{
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		z-index: 9;
	}
	.mobile-menu{
		position: absolute;
		display: block;
		width: 80%;
		background: #ee2c39;
		z-index: 999;
		height: 180px;
		left: 10%;
		margin-top: -500px;
		webkit-transition: margin-top 0.35s ease;
		-moz-transition: margin-top 0.35s ease;
		-o-transition: margin-top 0.35s ease;
		-ms-transition: margin-top 0.35s ease;
		transition: margin-top 0.35s ease;
	}
	.mobile-menu.show{
		margin-top: 100px;
	}
	.mobile-menu ul li{
		text-align: center;
		line-height: 30px;
	}
	.mobile-menu ul li a{
		text-transform: uppercase;
		color: #FFF;
		font-family: "HelveticaNeue-Bold";
	}
	.jcarousel-pagination-header {
		bottom: 5px;
		left: 50%;
		margin: 0;
	}
	.user_menu li{
		padding: 0px 10px;
	}
	.user_menu li a{
		text-transform: inherit;
	}
	.jcarousel-pagination-header{
		display: none;
	}
	.user_menu{
		bottom: 5px;
		right: 30px;
	}
	.home-diary-title{
		margin-top: 0;
	}
	.mobile-item{
		position: relative;
	}
	.mobile-item h2, .mobile-item p{
		position: absolute;
	}
	.mobile-item h2{
		top: 5px;
		right: 5px;
		width: 40%;
		
	}
	.slider-mobile{
		position: relative;
		width: 100%;
		display: inline-block;
	}
	.mobile-item h2 a{
		font-size: 20px;
		text-transform: uppercase;
		color: #FFF;
	}
	.mobile-item p{
		left: 5px;
		bottom: 5px;
		color: #FFF;
		width: 60%;
		margin: 0;
	}
	.control-mobile-slider a{
		width: 12px;
		height: 21px;
		background: url('../images/nav-pre.png') no-repeat center;
		top: auto;
		bottom: 5px;
		right: 0;
	}
	.control-mobile-slider a.jcarousel-control-next-mobile{
		width: 12px;
		height: 21px;
		background: url('../images/nav-next-while.png') no-repeat center;
		right: 5px;
	}
	.control-mobile-slider .jcarousel-control-prev-mobile{
		left: auto;
		right: 21px;
	}
	.happy-diary-group-home{
		display: none;
	}
	.happy-moment-clip{
		width: 100%;
	}
	.user_menu li a{
		font-size: 10px;
	}
	.user_menu{
		border: 1px solid #FFF;
	}
    .title-home.happy-diary-title table h2{
        font-size: 15px;
        padding: 0px 10px;
        height: 35px;
        line-height: 35px;
    }
    .happy-diary-title table tr td.second img{
        height: 35px;
    }
    
    .group.happy-moment-wp-title{
        display: none;
    }
    .happy-moment-slider{
        width: 70%;
        margin-left: 15%;
        overflow: visible;
        margin-top: 15px;
    }
    .happy-moment-slider,
    .group.happy-moment-wp .jcarousel{
        height: 140px;
    }
    .jcarousel1 ul{
        width: 20000em;
    }
    .group-dots a{
        width: 25px;
        height: 115px;
        
        left: -12px;
        top: 10px;
        bottom: auto;
    }
    .group-dots a.next{
        background: rgba(0,0,0,0.55) url('../images/nav-pre.png') no-repeat center;
    }
    .group-dots a.pre.jcarousel-control-next1{
        left: auto;
        right: -12px;
        bottom: auto;
        top: 10px;
        background: rgba(238,44,57,0.55) url('../images/nav-next-while.png') no-repeat center;
    }
    .title-happy-members h2{
        display: none;
    }
    .happy-members-slider{
        width: 100%;
    }
    .jcarousel.jcarousel2{
        height: auto;
    }
    .title-happy-members{
        width: 100%;
    }
    .jcarousel2 li img{
        max-width: 90%;
        display: inline-block;
    }
    jcarousel2 .item-list{
        text-align: center;
    }
    .lastest-slider{
        padding-left: 0;
        padding-right: 0;
    }
    .title-lastest-news h2{
        border-top: 1px dashed #FFF;
        padding: 4px 20px;
    }
    .happy-member{
        margin-top: -3px;
    }
    .jcarousel.jcarousel3 li{
        text-align: center;
    }
    .jcarousel.jcarousel3 li .item-list{
        width: 90%;
    }
    .news-controll-lastest a{
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
    .group-dots-control a.pre{
        padding-left: 15px;
    }
    .news-controll-lastest a.next{
        background: #fbac3d url('../images/nav-next-while.png') no-repeat right 10% center;
        color: #ee2c39;
    }
    .title-home.happy-diary-title.happy-member-home table h2{
        background: #fbac3d;
        color: #FFF;
    }
    .mobile-brea{
        display: block;
    }
    .not-mobile-brea{
        display: none;
    }
    
    
    /* page happy diary */
    .div-category{
        width: 100%;
    }
    
    .diary-date .month{
        width: 70%;
    }
    .diary-date div.day{
        width: 30%;
    }
    .diary-content,
    .diary-date{
        width: 50%;
    }
    
    .happy-diary-block{
        padding: 0;
        margin-top: 0px;
    }
    .div-category h2{
        text-align: left;
        padding-left: 10px;
    }
    .feature{
        display: none;
    }
    .div-category ul li{
        width: 100%;
        float: left;
        margin-bottom: 0;
        
    }
    .diary-content{
        border-bottom: 1px solid #424344;
    }
    .diary-date{
        border-bottom: 1px solid #d4a562;
    }
    .category-happy-diary-slider{
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        float: left;
        margin-top: 15px;
        display:block;
    }
    .category-happy-diary-slider ul li{
        position: relative;
    }
    .category-happy-diary-slider ul li p{
        position: absolute;
        right: 15px;
        width: 50%;
        text-align: right;
    }
    .category-happy-diary-slider ul li p a{
        font-size: 30px;
        text-transform: uppercase;
        color: #FFF;
        text-shadow: 1px 1px 1px #000;
    }
    .category-dots-control a{
        position: absolute;
        right: 15px;
        bottom: 5px;
        left: auto;
        top: auto;
        width: 21px;
        height: 21px;
        background: url('../images/nav-pre.png') no-repeat center;
    }
    .category-dots-control a.next{
        background: url('../images/nav-next-while.png') no-repeat center;
    }
    .category-dots-control a.pre{
        right: 30px;
    }
    .detail-related,
    .detail-content{
        width: 100%;    
    }
    .detail-related{
        margin-left: 0;
        margin-top: 15px;
    }
    .related-news ul li{
        width: 50%;
        float: left;
        margin-bottom: 0;
    }
    .related-news ul li p{
        text-align: left;
    }
    .related-news ul li p a{
        text-align: left;
        padding-left: 30px;
    }
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .detail-nature .detail-positon-nature h1.post-title{
        font-size: 16px;
    }
    detail-related .related-news ul li p a{
        padding-left: 0px;
        width: auto;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .div-category ul li{
        width: 50%;
        float: left;
        margin-bottom: 0;
    }
}