body, html{
    font-size: 14px;
    color: #000;
    font-family: 'HelveticaNeue', sans-serif;
    margin: 0;
    padding: 0;
/*	background: url('../images/bg.jpg') no-repeat;
	background-position: center center;*/
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    background: none;
    border: 3px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	max-width: 140px !important;
	max-height: 140px !important;
}
.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}

div{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.site-content{
overflow: auto;
}
.main{
    width: 960px;
    margin: 0 auto;
}
.content-page{
    width: 100%;
    display: inline-block;
	background: url(../images/bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 100% 100%;
}
.container{
    width: 100%;
    float: left;
    display: block;
}
.menutop{
    width: 100%;
    background: #EE2E3A;
}
.menutop ul{
    width: 100%;
}
.header{
    height: 420px;
    position: relative;
}
.header ul#control-login{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}
.header ul#control-login li{
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #FFF;
    float: left;
}
.header ul#control-login li a{
    color: #FFF;
    font-size: 18px;
}
.header ul#control-login li.register{
    background: #FFF;  
}
.header ul#control-login li.register a{

    color: #ee2c39;
}
.menutop ul li{
    display: inline-block;
	position: relative;
	height: 69px;
}
.menutop ul li a{
    font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	font-family: "HelveticaNeue-Light";
	padding-bottom: 21px;
	position: relative;
	padding: 0 9px;
	line-height: 69px;
}
.menutop ul li:hover:before,
.menutop ul li.active:before{
	content: " ";
	width: 60px;
	height: 10px;
	background: #fbac3e;
	display: block;
	position: absolute;
	bottom: 0;
	left: calc(50% - 30px);

}
/*.menutop ul li a.active .menutop ul li a:after,
.menutop ul li a:hover .menutop ul li a:after{
    border-bottom: 10px solid #FBAC3E;
	content: " ";
}*/
.title-home{
    width: 98%;
    margin-top: 30px;
    height: 40px;
    background-position: 50%;
}
.title{
    background: #ee2e3a;
    width: 25%;
    height: 40px;
    float: left;
    line-height: 40px;
}
.title-home span.span{
    background: url('../images/title.png') no-repeat left;
    width: 75%;
    height: 40px;
    float: left;
}
.title h2{
    text-transform: uppercase;
    color: #FFF;
    font-size: 30px;
    padding-left: 15px;  
	font-family: "HelveticaNeue-Bold";
	text-shadow: 1px 1px 1px #000;
}
.group{
    padding-left: 15px;
	padding-right: 15px;
}
.hot{
    width: 215px;
    height: 370px;
    float: left;
}
.hot .img{
    width: 215px;
    height: 240px;
    float: left;
    position: relative;
}
.hot .img{
    overflow: visible;
}
.hot .img img{
    max-width: 100%;
    max-height: 100%;
}
.hot-description{
    float: left;
    width: 100%;
    height: 130px;
    padding: 15px 5px 5px 5px;
    background: #FFF;
}
.hot-description h3{
    text-align: center;    
}
.hot-description h3 a{
    color: #000;
}
.hot-description h3 a:hover{
    text-decoration: underline;
}
.hot-description p{
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.position-hot{
    position: absolute;
    bottom: -5px;
    width: 100%;
    text-align: center;
}
.position-hot span.news-hot{
    background: #FBAC3E;
    padding: 0px 5px;
    text-transform: uppercase;
    font-size: 30px;
	font-family: "HelveticaNeue-Bold";
}
.position-hot a{
    background: url('../images/nav.png') no-repeat center right;
    display: inline-block;
    padding-right: 20px;
    color: #000;
}
.news-happy-diary{
    float: left;
    width: 350px;
    /*height: 370px;*/
	background: #FFF;
}
.news-happy-diary h2{
    font-size: 15px;
    text-align: center;
    margin: 10px 15px;
    /*background: #FFF url('../images/radio-back.png') repeat-x center;*/
	background: #FFF url('../images/radio-back.png') repeat-x center;
}

.news-happy-diary h2 a{
    background: #FFF;
    padding: 2px 5px;
	font-family: "HelveticaNeue-Light";
	color: #000;
}
.news-happy-diary .img{
    position: relative;
    height: 300px;
}
.news-happy-diary .img img
{
	max-height: 300px;
}
.news-happy-diary p{
    position: absolute;
    padding-left: 25px;
    background: url('../images/nav.png') no-repeat left top 10px;
    bottom: 15px;
    color: #FFF;
    width: 70%;
    left: 15px;
    line-height: 1.8;
    font-size: 16px;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0,0,0,0.8);
    webkit-transition: margin-top 0.35s ease;
    -moz-transition: margin-top 0.35s ease;
    -o-transition: margin-top 0.35s ease;
    -ms-transition: margin-top 0.35s ease;
    transition: margin-top 0.35s ease;
}
.news-happy-diary p span{
   display: block;
}
.happy-diary-group{
    width: 365px;
    height: 370px;
    background: #000;
    float: left;
}
.item-happy-diary{
    width: 100%;
    float: left;
}
.image-beauty{
    width: 55%;
    position: relative;
    float: left;
    height: 160px;
}
.image-beauty p.beauty span{
    background: #FBAC3E;
    padding: 0 10px;
    text-transform: uppercase;  
    color: #000;
}
.image-beauty p.beauty{
    position: absolute;
    top: 10px;
    right: 30%;
    margin: 0;
    font-size: 18px;
    background: url('../images/nav1.png') no-repeat center bottom 0px;
    padding-bottom: 20px;
    
}
.louping{
   width: 45%;
   float: left;
   padding: 10px;
   height: 160px;
   background: #FFF;
}
.louping h2{
    text-align: center;
    border-bottom: 1px solid #000;
    margin: 0;
    padding-bottom: 5px;
    font-size: 14px;
}
.louping h2 a{
    color: #000;
    text-decoration: none;
}
.louping h2 a:hover{
    text-decoration: underline;
}
.louping p:not(.louping-bottom){
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.louping p.louping-bottom{
    margin: 0 10px;
    border-bottom: 1px solid #000;
}
.img{
    overflow: hidden;
    float: left;    
    width: 100%;
}
.louping-group-1{
    width: 90%;
    height: 210px;
    float: left;
    background: red;
    position: relative;
}
.louping-group-1 p{
    position: absolute;    
    bottom: 0;
    color: #FFF;
    width: 100%;
    margin:0;
    padding: 0 5px;
    left: 0;
    line-height: 1.8;
    font-size: 16px;
    /*height: 56px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0,0,0,0.8);
    webkit-transition: margin-top 0.35s ease;
    -moz-transition: margin-top 0.35s ease;
    -o-transition: margin-top 0.35s ease;
    -ms-transition: margin-top 0.35s ease;
    transition: margin-top 0.35s ease;
}
.louping-next{
    width: 10%;
    background: #000 url('../images/nav.png') no-repeat center;
    height: 210px;
    float: left;
}
.happy-diary{
    margin-top: 15px;
}

/* happy members */
.happy-member{
    width: 100%;
    margin-top: 15px;
}
.content-happy-member{
	width: 100%;
	background: #EE2E3A;
	display: inline-block;
	
}
.happy-members-slider{
    width: 60%;
    float: left;
    padding-top: 15px;
	position: relative;
}
.title-happy-members{
    width: 40%;
    text-align: center;
    float: left;
	position: relative;
}
.title-happy-members h2{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    margin-top: 15%;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px 10px 10px;
    display: inline-block;
    width: auto;
}
.group.happy-member .owl-controls.clickable{
    position: absolute;
    right: -274px;
    bottom: 20px;
}
.happy-members-slider .owl-theme .owl-controls .owl-buttons div{
    padding: 0;
    margin: 0;
    width: 12px;
    height: 21px;
    background: #000;
    border-radius: 0;
    margin-left: 10px;
    opacity: 0.9;
}
.happy-members-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
    background: url('../images/nav-pre.png') no-repeat;
}
.happy-members-slider .owl-theme .owl-controls .owl-buttons div.owl-next{
    background: url('../images/nav-next.png') no-repeat;
}
.item-list{
    display: inline-block;
}
.item-list p{
    text-align: center;
    color: #FFF;
    font-size: 16px;
}

/* lastest news */
.lastest-slider{
	padding-left: 100px;
	padding-right: 100px;
}
.lastest-slider{
	width: 100%;
	padding-bottom: 60px;
}
.title-lastest-news{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 20px;
}
.title-lastest-news h2{
	display: inline-block;
	border-bottom: 1px dashed #FFF;
	font-size: 20px;
	text-transform: uppercase;
	color: #FFF;
	padding: 2px 20px;
}
.lastest-slider .item-list{
	width: 100%;
	display: inline-block;
	
	padding: 5px;
}
.lastest-slider .item-list img{
	display: inline-block;
}

.group.happy-member .happy-members-slider.lastest-slider .owl-controls.clickable{
	position: absolute;
	right: 50%;
	bottom: -50px;
	border: 2px solid #FFF;
	margin-right: -120px;
}
.group.happy-member .happy-members-slider .item-list{
	padding: 5px;
}
.happy-members-slider.lastest-slider .owl-theme .owl-controls .owl-buttons div{
    padding: 0;
    margin: 0;
    width: 120px;
    height: 40px;
    background: #000;
    border-radius: 0;
    margin-left: 10px;
    opacity: 0.9;
	line-height: 40px;
	font-size: 18px;
}
.happy-members-slider.lastest-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
    background: url('../images/nav-pre.png') no-repeat left center;
}
.happy-members-slider.lastest-slider .owl-theme .owl-controls .owl-buttons div.owl-next{
    background:#FFF url('../images/nav-next.png') no-repeat right 6% center;
	color: red;
}
.lastest-slider .item-list p a{
	color: #fff;
}
.lastest-slider .item-list p span.date{
	border-left: 1px solid #FFF;
	margin-left: 5px;
	padding-left: 5px;
}
#slider-header .owl-pagination{
	position: absolute;
	bottom: 10px;
	margin-left: 50%;
}
#slider-header .owl-pagination .owl-page span{
	background: #fbac3d;
}
#slider-header .owl-pagination .owl-page.active span{
	background: rgb(251,172,61,0.5);
}
#slider-header li{
	float: left;
}
#slider-header li img{
	max-width: 960px;
}
/* fooer */
.footer{
	width: 100%;
	margin-top: -4px;
}
.page-footer{
	width: 100%;
	background: #fbac3d url('../images/line-while.png') repeat-x center;
	text-align: center;
	display: inline-block;
}
.logo-footer{
	display: inline-block;
	background: #fbac3d;
	padding-top: 20px;
}
.logo-footer a{
	float: left;
	display: inline-block;
}

/* happy moment */
.group.happy-moment-wp{
    width: 100%;
    margin-top: 30px;
}
.happy-moment-clip{
    width: 70%;
    float: left;
    /*background: #DDD;*/
    position: relative;
    height: 450px;
}
.happy-moment-slider{
    width: 27%;
    float: left;
    overflow: hidden;
    margin-left: 3%;
    display: inline-block;
    position: relative;
    height: 450px;
}
.moment-postion{
    height: 300px;
    width: 150px;
    position:  absolute;
    top: 30px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 1px 1px 1px #A8A8A8, 1px -1px 1px #A8A8A8;
    -moz-box-shadow: 1px 1px 1px #A8A8A8, 1px -1px 1px #A8A8A8;
    -webkit-box-shadow: 1px 1px 1px #A8A8A8, 1px -1px 1px #A8A8A8;
    padding: 10px;
}

.videos{
    height: 50%;
    width: 100%;
    line-height: 50%;
    padding: 10px;
    text-align: center;
}
.videos.clip{
   border-bottom: 2px solid #000; 
}
.videos h2{
    margin-top: 50%;
}
.videos h2 a{
    text-transform: uppercase;
    color: #000;
}
.videos.clip h2 a{
    color: red;
}
.icon-moment{
    width: 30px;
    height: 30px;
    background: #FFF url('../images/down.png') no-repeat 50% center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 39%;
}
.videos.picture{
    background: url('../images/up.png') no-repeat bottom center;
}
/*.happy-moment-slider ul{
    margin-top: -15px;
}*/
.happy-moment-slider ul li{
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    float: none !important;
    background-color: rgba(239, 239, 239, 0.71);
}
.list-postion{
    background: rgba(255,255,255,0.6);
    position: absolute;
    width: 90%;
    margin-left: 5%;
    top: 50%;
    padding: 15px 30px;
    height: 70px;
    margin-top: -200px;
    webkit-transition: margin-top 0.35s ease;
    -moz-transition: margin-top 0.35s ease;
    -o-transition: margin-top 0.35s ease;
    -ms-transition: margin-top 0.35s ease;
    transition: margin-top 0.35s ease;
}
.list-postion h3{
    font-size: 18px;
    text-align: center;
}
.list-postion p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
.happy-moment-slider ul li:hover .list-postion{
    margin-top: -35px;
}
.icon-slider{
    width: 40px;
    height: 40px;
    background: url('../images/play.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.group-dots a{
    width: 100%;
    height: 30px;
    background: #000;
    top: 0;
    z-index: 999;
    display: block;
    position: absolute;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	left: 0;
	margin-top: 0;
}
.group-dots a.pre{
    bottom: 0;
    top: auto;
    background: rgba(0,0,0,0.55) url('../images/nav-s2.png') no-repeat center;
}
.group-dots a.next{
    background: rgba(0,0,0,0.55) url('../images/nav-s1.png') no-repeat center;
}
.happy-moment-wp-title{
    width: 100%;
}
.clip-title{
    width: 70%;
    margin-top: 10px;
}
.clip-title h2{
    font-size: 24px;
    font-weight: normal;
}
.clip-title span{
    border-left: 1px solid #000;
    padding-left: 5px;
    margin-left: 5px;
    font-weight: normal;
}
.happy-spririt .videos.clip h2 a{
    color: #000;
}
.spirit .videos.clip h2 a{
	color: #000;
}
.spirit .videos.picture h2 a{
    color: red;
}
.jcarousel-wrapper{
	margin: 0;
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.group.happy-moment-wp .jcarousel{
	height: 450px;
}
.jcarousel-wrapper{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.jcarousel.jcarousel2{
	height: 210px;
    float: left;
}
.group-dots-control{
	margin-top: 15px;
}
.group-dots-control a{
	position: relative;
	width: 12px;
	height: 21px;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
	left: auto;
	background: url('../images/nav-pre.png') no-repeat center;
}
.group-dots-control a.pre.jcarousel-control-next2{
	background: url('../images/nav-next.png') no-repeat center;
}
.news-controll-lastest{
	text-align: center;
}
.news-controll-lastest{
	border: 2px solid #FFF;
	display: inline-block;
	  margin-top: 30px;
}
.news-controll-lastest a{
	width: 130px;
	height: 50px;
	line-height: 50px;
	right: auto;
        
}
.controll-lastest{
	text-align: center;
}
.news-controll-lastest a.next{
	background: #FFF url('../images/nav-next.png') no-repeat right 10% center;
	color: #000;
	width: 170px;
}
.news-controll-lastest a.pre{
	background: url('../images/nav-pre.png') no-repeat left center;
	color: #FFF;
}

.happy-member-block,
.happy-diary-block{
    width: 100%;
    padding: 5px;
    background: rgba(255,255,255,0.7);
    display: inline-block;
	margin-top: 15px;
}
.div-category{
    width: 355px;
    float: left;
}
.div-category ul li{
    background: #6b6e70;
    margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.div-category ul li:last-child{
    margin-bottom: 0;
}
.diary-date{
    background: #eaa84e;
    float: left;
}
.diary-date div{
    height: 75px;
    float: left;
}
.diary-date div.day{
    width: 50px;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 70px;
    text-align: right;
}
.diary-date .month{
    width: 100px;
}
.diary-date .month span{
    width: 100%;
    font-size: 30px;
    padding-top: 5px;
    display: inline-block;
    padding-left: 10px;
}
.diary-date .month p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul li .diary-date::after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border:10px solid transparent;
    border-left: 10px solid #e9a74e;
    margin-top: 30px;
    
}
.diary-content{
    float: left;
    width: 200px;
    line-height: 70px;
    text-align: center;
}
.diary-content a{
    color: #FFF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.div-category ul li:hover{
    background: #ee2e3a;
}
.div-category ul li:hover .diary-date{
    background: #f8963e;
}
.div-category ul li:hover .diary-date::after{
    border-left-color: #f8963e;
}
.div-category h2{
    background: #454444;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    padding: 3px 0;
    text-transform: uppercase;
}
.feature{
    float: left;
    width: 520px;
    height: 446px;
    margin-left: 45px;
}
.item-natura p{
    padding: 0;
    margin: 0;
}
.item-natura .img{
    text-align: center;
	overflow: visible;
}
.item-natura .natura-title{
    font-size: 60px;
    padding-left: 60px;
    text-transform: uppercase;
}
.item-natura .natura-title a{
	color: #ee2c39;
}
.item-natura .our-choose{
	font-size: 30px;
	color: #000;
	padding-left: 30px;
	text-transform: uppercase;
	height: 141px;
	max-width: 490px;
}
.description{
	position: absolute;
	height: 75px;
	width: 100%;
	padding: 5px;
	background: rgba(0,0,0,0.8);
	webkit-transition: margin-top 0.35s ease;
    -moz-transition: margin-top 0.35s ease;
    -o-transition: margin-top 0.35s ease;
    -ms-transition: margin-top 0.35s ease;
    transition: margin-top 0.35s ease;
	margin-top: -100px;
}
.div-category ul li:hover .description{
	margin-top: 0;
}
.description p{
	color: #FFF;
	font-size: 16px;
}
.description p a {
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
  text-decoration: underline;
}
.item-natura .img a{
	width: 140px;
	height: 140px;
}

[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}
.page-happy-diary .news-happy-diary{
	background: #FFF;
}
.page-happy-diary .news-happy-diary h2{
	background: none;
}
.page-happy-diary .news-happy-diary h2 a{
	color: #000;
}

.title-home.happy-diary-title{
	display: table;
	position: relative;
	
}
.title-home.happy-diary-title.for-sp{
	display:none;
}
.title-home.happy-diary-title table h2{
	background: #ee2c39;
	display: inline-block;
/*	height: 54px;
	line-height: 57px;*/
	padding: 0 10px;
    height: 60px;
    line-height: 60px;
	color: #FFF;
	position: relative;
	text-shadow: 1px 1px 1px #000;
	font-size: 35px;
	font-family: "HelveticaNeue-Bold";
	text-transform: uppercase;
}

.happy-diary-title table{
	width: 100%;
}
.happy-diary-title table tr td.first{
	white-space: nowrap;
}
.happy-diary-title table tr td.second{
	/*background: url('../images/breadcrumb-arrow.png') no-repeat top left;*/
/*	height: 61px;*/
	width: 50px;	
	display: block;
	margin-left: -1px;
}
.line-title{
	background: url('../images/dashed.png') repeat-x center;
	width: 100%;	
}

/* happy member */
.happy-member-block{
    background: #FFF;
    margin-top: 100px;
    position: relative;
    padding-bottom: 30px;
    padding-top: 15px;
}
.jcarousel-member ul li .member-list{
    float: left;
    width: 890px;
}
.jcarousel-member ul li .member-list h2{
    font-family: "HelveticaNeue-Bold";
    position: relative;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 3px;
	color: #000;
}
.jcarousel-member ul li .member-list p{
    margin: 0;
    padding: 0;
}
.jcarousel-member ul li .member-list p.website a{
    color: red;
}
.jcarousel-member ul li .member-list p.date{
    margin-top: 10px;
    color: #DDD;
    height: 25px;
    background: url('../images/date.png') no-repeat left center;
    line-height: 29px;
    padding-left: 20px;
}
.jcarousel-member ul li .member-list p.location{
    margin-top: 5px;
    color: #DDD;
    background: url('../images/local.png') no-repeat left center;
    line-height: 25px;
    height: 25px;
    padding-left: 20px;
}
.jcarousel-member ul li .member-list a.link-profile{
	display: block;
	max-height: 178px;
}
.jcarousel-member ul li .member-list-top a.link-profile img{
	margin-top: 5px;
}
.jcarousel-member ul li .member-list a.link-profile img{ 
    width: 178px !important;
    height: 178px !important;
}
.jcarousel-member ul li .member-list.member-list-bottom p.img{
    margin-top: 0;
}
.jcarousel-member ul li .member-list.member-list-bottom h2{
    margin-top: 10px;
}
.member-item-top{
    width: 178px;
    float: left;
}
.controll-position a{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 150px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-decoration: none;
    font: 30px/25px Arial, sans-serif;
    line-height: 150px;
    margin-top: -80px;
}
.controll-position a.jcarousel-control-prev-member{
    left: 0;
}
.controll-position a.jcarousel-control-next-member{
    right: 0;
}
.jcarousel-member li{
    width: 890px;
}
.controll-position a.inactive{
    background: rgba(238,44,57, 0.5);
}
/*.happy-moment-slider .jcarousel li img{
	width: 308px;
	height: 140px !important;
}*/
.group.happy-moment-wp.spirit img#main_photo{
	width: 800px;
	height: 443px;
}
/*.happy-members-slider .item-list img{
	max-width: 178px;
}*/
/*.happy-members-slider .item-list img {
  width: 176px !important;
  height: 156px !important;
}*/
.user_menu {
   border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 100px;
  font-weight: bold;
}
.user_menu li {
  float: left;
  padding: 10px 30px;
}
.user_menu li.sign-up{
    background: #FFF;
}
.user_menu li a{
  color: #FFF;
  text-transform: uppercase;
}
.user_menu li a:hover{
    text-decoration: underline;
}
.user_menu li.sign-up a{
	color: #ee2c39;
}


/* happy diary detail */
.happy-diary-detail{
    background: #FFF;
    min-height: 1px;
    display: inline-block;
    width: 100%;
}
.happy-diary-detail img{
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.detail-content{
    width: 70%;
    float: left;
    min-height: 1px;
}
.detail-related{
    width: 28%;
    margin-left: 2%;
    float: left;
}
.adv,
.related-news,
.related-video{
    width: 100%;
}
.related-news ul li{
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
.related-news ul li p{
    position: absolute;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 0;
    width: 100%;
    background: rgba(238,46, 58, 0.7);
    margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #FFF;
	padding: 2px 2px 0 20px;
	box-sizing: border-box;
}
.related-news ul li p:before{
    content: " ";
    width:0;
    height:0;
    position:absolute;
    border:15px solid transparent;
    border-left: 15px solid #ffc600;
    left: 0;
}
.related-news ul li p a{
  color: #FFF;
  font-size: 15px;
  display: block;
  padding-left: 0;
  width: 230px;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.related-video{
    height: 230px;
    background: #DDD;
    margin-bottom: 5px;
}
.happy-diary-content,
.detail-nature{
    width: 100%;
}
.happy-diary-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
.detail-nature{
    position: relative;
}
.detail-nature .detail-positon-nature{
/*    position: absolute;
    top: 15px;
    left: 15px;*/
    width: 100%;
    overflow: hidden;
}
.detail-nature .detail-positon-nature .hightlight_text{
    color: #EE2E3A;
    text-transform: uppercase;
    font-size: 60px;  
    min-height: 36px;
}
.detail-nature .detail-positon-nature h1.post-title{
    text-transform: uppercase;
    text-align: center;
    /*color: #fff;*/
    color: #bb3914;
    font-size: 40px;
	margin-top: 30px;
}
.detail-nature .detail-positon-nature .meta {
  font-size: 11px;
  background-color: #ccc;
  float: left;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 10px;
}
.category-happy-diary-slider,
.slider-mobile,
.mobile-menu{
	display: none;
}
.hidden{
	display: none;
}
.happy-member-home{
    margin-bottom: 15px;
}
.mobile-brea{
    display: none;
}